.clap-button {
  position: absolute;
  outline: 0.1rem solid transparent;
  border-radius: 50%;
  border: 0.1rem solid #bdc3c7;
  width: 8rem;
  height: 8rem;
  background: none;
  user-select: none;
  top: 50%;
}

.clap-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 7.9rem;
  height: 7.9rem;
}

.clap-button:hover {
  cursor: pointer;
  border: 0.1rem solid #27ae60;
  transition: border-color 0.3s ease-in;
}

.clap-button:hover:after {
  animation: shockwave 1s ease-in infinite;
}

.clap-icon {
  width: 4rem;
  fill: none;
  stroke: #27ae60;
  stroke-width: 0.2rem;
}

.clap-icon.checked {
  fill: #27ae60;
  stroke: #fff;
  stroke-width: 0.1rem;
}

.clap-count {
  position: absolute;
  top: -5rem;
  left: 2rem;
  font-size: 0.8rem;
  color: white;
  background: #27ae60;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
}

.count-total {
  position: absolute;
  font-size: 0.8rem;
  width: 8rem;
  text-align: center;
  left: 0;
  top: -2.2rem;
  color: #bdc3c7;
}
